<header>
  <div class="navbar bg-primary shadow-sm">
    <div class="navbar-brand allign-item-center d-flex">
      <i style="font-size: 40px;" class="fas fa-solid fa-hamsa">&nbsp;</i>
      <strong style="font-size: 30px;">PMS</strong>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="search product">
      </div>
      <span class="fas fa-search search-icon"></span>
    </div>
    <button routerLink="cart" class="btn btn-primary">
      <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
      <div style="font-size: 10px;" class="badge bg-danger"></div>
  </button>

  </div>

</header>

